td,th {font-family: ו;font-size: 12px;color: #333333;}
body {margin: 0px;font-family: ו;font-size: 12px;color: #333333;}

a:link {color: #1E1E1E;text-decoration: none;}
a:visited {text-decoration: none;color: #1E1E1E;}
a:hover {text-decoration: none;color: #FF6205;}
a:active {text-decoration: none;color: #FF6205;}

.white:link {color: #FFFFFF;text-decoration: none;}
.white:visited {text-decoration: none;color: #FFFFFF;}
.white:hover {text-decoration: none;color: #FFFFFF;}
.white:active {text-decoration: none;color: #ffffff;}

.bule:link {font-size:14px;font-weight: bold;color: #1F0664;text-decoration: none;}
.bule:visited {font-size:14px;font-weight: bold;text-decoration: none;color: #1F0664;}
.bule:hover {font-size:14px;font-weight: bold;text-decoration: none;color: #1F0664;}
.bule:active {font-size:14px;font-weight: bold;text-decoration: none;color: #1F0664;}

.yellow:link {font-size:12px;color: #f83300;text-decoration: none;}
.yellow:visited {font-size:12px;text-decoration: none;color: #f83300;}
.yellow:hover {font-size:12px;text-decoration: none;color: #f83300;}
.yellow:active {font-size:12px;text-decoration: none;color: #f83300;}

.yellow1:link {font-size:14px;color: #f83300;text-decoration: none;font-weight: bold;}
.yellow1:visited {font-size:14px;text-decoration: none;color: #f83300;font-weight: bold;}
.yellow1:hover {font-size:14px;text-decoration: none;color: #f83300;font-weight: bold;}
.yellow1:active {font-size:14px;text-decoration: none;color: #f83300;font-weight: bold;}

.yellow2:link {font-size:14px;color: #f83300;text-decoration: none;}
.yellow2:visited {font-size:14px;text-decoration: none;color: #f83300;}
.yellow2:hover {font-size:14px;text-decoration: none;color: #f83300;}
.yellow2:active {font-size:14px;text-decoration: none;color: #f83300;}

.font1{font-size:12px;color: #FFFFFF;}
.font2{font-size:12px;color: #000000;}
.font3{font-size:12px;color: #31498f;}
.font4{font-size:12px;color: #FFFFFF;font-weight: bold;}
.font5{font-size:12px;color: #f83300;}
.font6{font-size:14px;line-height:30px;}
.font7{font-size:12px;color: #868686;}
.font8{font-size:14px;color:#D60F0D;line-height: 150%;font-weight: bold;}
.font9{font-size:14px;color: #FC4300;font-weight: bold;}
.font10{font-size:12px;color: #162A83;font-weight: bold;}
.font11{font-size:14px;color: #000000;font-weight: bold;}
.font12{font-size:12px;color: #ff5400;}
.font13{font-size:12px;color: #000000;font-weight: bold;}
.font14{font-size:12px;color: #FC4300;font-weight: bold;}
.font15{font-size:12px;color:#FF0300;line-height: 150%;font-weight: bold;}
.font16{font-size:14px;color: #f83300;}
.font17{font-size:14px;color:#FF0300;line-height: 180%;font-weight: bold;}
.height{line-height: 150%;}
.height1{line-height: 180%;}
.underline1 {background-color: #f3f3f3;background-image: url(../images/line.gif);background-repeat: repeat-x;background-position: left bottom;}
.underline {BACKGROUND: url(../images/line.gif) repeat-x left bottom}
.unline {BORDER-BOTTOM: #c8c8c8 1px solid}

.input_1{font-size:12px;border: 1px solid #91B6EA;background-color:#FFFFFF;}
.input_2{font-size:12px;border: 1px solid #91B6EA;background-color:#FFFFFF; width:160px;}
.input_3{font-size:12px;border: 1px solid #B5B5B5;background-color:#FFFFFF;}
.input_4{font-size:12px;border: 1px solid #91B6EA;background-color:#FFFFFF; width:100px;}
.left_bk {FONT-SIZE: 12px;border: 1px solid #E1E1E1;}

.style1{font-size:12px; color:#004780; font-weight: bold;}
.style2{font-size:12px; color:#004780;line-height: 180%;}