@charset "utf-8";
/* CSS Document */

a:link{
	text-decoration: none; color:#333; 
    }
a:visited {
	text-decoration: none; color:#333;
    }
a:hover {
	text-decoration: none; color:#333;
    }
a:active {
	text-decoration: none; color:#333;
	}

.banner{ width:1004px; margin:0 auto; padding:0;}
.zjbanner{  width:1004px; margin:0 auto; padding:0;}
a img { border:none; }
ul,li{ list-style:none;}
/*2012.05.08后加的红头*/
.toph{ background:url(images/topbgt.jpg) repeat-x; height:31px; border-bottom:solid 1px #ccc; margin:0 auto; font-size:12px; color:White;}
.topnavh{ width:1004px; margin:0 auto; line-height:31px;}
.topnavlefth{ float:left; padding-left:26px;}
.topnavrighth{ float:right; width:120px; padding-right:26px; }
.topnavrighth a,.topnavrighth span{ float:left; color:White; padding-left:6px;}
/*background:url(images/index_01.gif) repeat-x; */
.top{  height:31px; background-color:#FEECC0; border-bottom:solid 1px #ccc; margin:0 auto; font-size:12px;}
.topnav{ width:1004px; margin:0 auto; line-height:31px;}
.topnavleft{ float:left; padding-left:26px;}
.topnavright{ float:right; width:220px; padding-right:26px;}
.topnavright a,.topnavright span{ float:left; padding-left:6px;}
#container{ width:1004px; margin:0 auto; line-height:24px;  font-size:12px;}
#container2{ width:1004px; margin:0 auto; line-height:24px;  font-size:12px;}
.menu{ height:30px; line-height:30px; padding:8px 0 0 6px; margin:0 auto; background:url(images/beijingtu.jpg) repeat-x; font-family:"宋体"; font-weight:bold; font-size:14px;}
.menu li{ float:left; width:90px; background:url(images/zhongjiantiao.jpg) no-repeat right;}
.menu a{ width:90px; float:left; text-align:center; color:#fff;}
.menu a:hover{ font-weight:bold; height:30px; background:url(images/index_12.gif) no-repeat center; color:Red; display:block;}
.menu p{ float:left;}

.main01{ width:1004px; margin:10px auto; overflow:hidden;}
.huandeng{ float:left;width:400px; height:316px; text-align: center; border:solid 1px #feb10b; padding:2px; margin:0 10px;  _margin:0 8px; display:inline; overflow:hidden;}


.main01_center{ float:left; width:340px; border:solid 1px #feb10b; background:url(images/index_25.gif) repeat-x; height:320px;}
.main01_cmenu{ width:129px; height:36px; background:url(images/index_23.gif) no-repeat; padding-top:4px; text-align:center; font-size:14px; color:#af0000;}
.main01_cnr{ padding:4px 16px 11px; color:#e50000;}
.main01_cnr h2{ font-size:12px;}
.main01_cnr p{ color:#666; padding-bottom:10px; border-bottom:dotted 1px #ccc;}
.main01_cnr li{ width:300px; background:url(images/index_35.gif) no-repeat 6px 18px; border-bottom:dotted 1px #ccc; padding:8px 0 0 16px; height:26px;}
.main01_cnr span{ float:right; padding-right:6px;}
.main01_right{ float:left; border:solid 1px #feb10b; width:229px; height:270px;background:url(images/index_25.gif) repeat-x;}
.main01_rnr{ padding:10px;}
.main01_rnr p{ color:#666;}
.main01_rnr span{ color:#bbb;}
.main02{ margin:10px auto; overflow:hidden;}
.main02_left{ float:left; width:340px;  border:1px solid #FEB10B;}
.main02_lmenu{ height:28px; line-height:28px; background:url(images/index_42.gif) no-repeat 0 5px; border-bottom:solid 1px #E50000;}
.main02_lmenu h3{ color:#E50000; font-size:14px; float:left; width:85px; padding-left:16px}
.main02_lmenu img{ float:right; margin:6px 10px 0 0;}
.main02_leftnr{ width:340px; height:292px; _height:292px;}
.main02_leftnryb{ width:290px; height:292px; _height:292px;}
.main02_leftnryb li{ width:274px; background:url(images/index_35.gif) no-repeat 6px 18px; border-bottom:dotted 1px #ccc; padding:8px 0 0 20px; height:26px;}
.main02_leftnr li{ width:274px; background:url(images/index_35.gif) no-repeat 6px 18px; border-bottom:dotted 1px #ccc; padding:8px 0 0 16px; height:26px;}
.main02_leftnr span{ float:right; padding-right:6px;}
.main02_center{ float:left; margin:0 12px 0 10px; width:340px; display:inline; border:1px solid #FEB10B;}
.main02_centeryb{ float:left; margin:0 0px 0 2px; width:290px; display:inline; border:1px solid #FEB10B;}
.main02_right{ float:left; width:348px; }
.main02_rtop{ border:solid 1px #feb10b; overflow:hidden;}
.main02_rightnr{ padding:4px 0px 10px; text-align:center; height:215px;}
.main02_rightnr li{ float:left; background:url(images/anniu.gif) no-repeat; width:84px; height:25px; margin:6px 12px 0 0; padding-left:8px; font-weight:bold;}
.main02_rightnr a{ color:#fff;}


.main03{ overflow:hidden;}
.main03 img{ margin-left:25px;}

.foot{ width:1004px; margin-top:6px; font-size:12px; overflow:hidden;}
.footline{ height:30px; line-height:30px; background:#e50000; text-align:center;}
.footline a,.footline span{ color:#fff;}
.footline span{ padding:0 3px;}
.copyright{ text-align:center; padding:5px 0;}
.beian{ padding:10px 0; text-align:center;}
.postion{ width:990px; margin:10px auto; padding-left:14px; overflow:hidden; background:#eee; height:30px; line-height:30px;}
.postion span{ float:left;}
.postion a{ float:left;}
.postion p{ float:left; padding:0 10px;}
.neirong{ width:1004px; margin:10px auto; overflow:hidden;}
.nrleft{ float:left; width:258px; border:solid 1px #feb10b; text-align:center;}
.nrleft h3{ font-size:12px; height:30px; line-height:30px; background:#d50000; color:#fff;}
.nrleft ul{ padding:8px 0;}
.nrleft a{ height:28px; display:block;}
.nrleft a:hover{ background:#e3e3e3;}
.nrright{ float:left; width:734px; margin-left:10px;}
.nrrmenu{ font-weight:bold; border-bottom:solid 1px #d50000; height:30px; padding:4px 0 0 16px; background:url(images/index_42.gif) no-repeat 0 11px; line-height:34px;}
.nrrzw{ padding:10px;}

.rongchengmenu{ height:30px; line-height:30px; padding:8px 0 0 37px; margin:0 auto; background:url(images/index_05.gif) repeat-x; font-family:"宋体"; font-weight:bolder; font-size:14px;}
.rongchengmenu li{ float:left; width:106px; background:url(images/index_09.gif) no-repeat right;}
.rongchengmenu a{ width:100px; float:left; text-align:center; color:#fff;}
.rongchengmenu a:hover{ font-weight:bold; height:30px; background:url(images/index_13.gif) no-repeat center; color:#000; display:block;}
.rcjianjie{ float:left; width:323px; border:solid 1px #feb10b;background:url(images/index_25.gif) repeat-x;}
.rcjjmenu{ background:url(images/index_14.gif); height:30px; line-height:30px; padding-left:16px; color:#fff; font-weight:bold; background-repeat:repeat-x;}
.rcjjnr{ padding:8px 10px; overflow:hidden; height:226px; }

.rcpicnews{ float:left; border:solid 1px #feb10b; width:348px; margin:0 10px;}
.main01_rcright{ float:left; border:solid 1px #feb10b; width:307px;background:url(images/index_25.gif) repeat-x;}
.rcrmenu{ background:url(images/index_15.gif); height:30px; line-height:30px; padding-left:20px; color:#fff; font-weight:bold; color:#d50000; background-repeat:repeat-x;}
.rcr_nr{ padding:10px; height:222px;}
.rcr_nr p{ color:#666;}
.rcr_nr span{ color:#bbb;}
.xitong02{ margin-top:10px; overflow:hidden;}
.xitong02 img{ margin-left:25px;}

.rongcheng02_left{ float:left; width:760px; border:solid 1px #feb10b;}
.rongcheng02_leftjq{ float:left; width:1000px; border:solid 1px #feb10b;}
.rc02_lmenu{ height:28px; line-height:28px; background:url(images/index_42.gif) no-repeat 0 5px; border-bottom:solid 1px #E50000;}
.rc02_lmenu h3{ color:#E50000; font-size:14px; float:left; width:85px; padding-left:16px}
.rc02_lmenu img{ float:right; margin:10px 10px 0 0;}
.rcmain02_leftnr{ width:750px; height:223px;}
.rcmain02_leftnrjq{ width:1000px; height:100px;}
.rcmain02_leftnr2{ width:750px; padding:0 0 0 3;}
.rcmain02_leftnr2 li{ float:left; width:100px; background:url(images/index_35.gif) no-repeat 6px 18px; border-bottom:dotted 1px #ccc; padding:8px 0 0 16px; height:26px;}
.rcmain02_leftnr2 span{ float:right; padding-right:6px;}
.rcmain02_leftnr li{ float:left; width:100px; background:url(images/index_35.gif) no-repeat 6px 18px; border-bottom:dotted 1px #ccc; padding:8px 0 0 16px; height:26px;}
.rcmain02_leftnr span{ float:right; padding-right:6px;}
.rcmain02_leftnrjq li{ float:left; width:100px; background:url(images/index_35.gif) no-repeat 6px 18px; border-bottom:dotted 1px #ccc; padding:8px 0 0 16px; height:26px;}
.rcmain02_leftnrjq span{ float:right; padding-right:6px;}

.rc02_right{ float:left; margin-left:10px; width:232px; overflow:hidden; display:inline;}
.rc02_rmenu{ background:url(images/index_15.gif) no-repeat; height:30px; line-height:30px; padding-left:20px; color:#fff; font-weight:bold; color:#d50000;}
.rc02_rtop{ border:solid 1px #feb10b; overflow:hidden;}
.rc02_rightnr{ padding:4px 6px 8px; height:210px; overflow:hidden;}
.kejiyujing{ margin-top:0px; text-align:center;}
.kejiyujing img{ margin-top:10px;}

.yqlink{ width:1002px; margin-top:10px;  overflow:hidden;}
.yqlink h3{ height:30px; line-height:30px; border-bottom:solid 1px #ccc; font-size:12px; color:#d50000; padding-left:16px; background:url(images/index_01.gif) repeat-x;}
.yqlink h3 a{  padding-left:15px;float:left; width:90px; background:url(images/zhongjiantiao.jpg) no-repeat right;}
.yqlink ul{ padding:8px; overflow:hidden;}
.yqlink li{ float:left; margin-left:12px; display:inline;}
.yqlink2{ width:1002px; margin-top:10px; border:solid 1px #ccc; overflow:hidden;}
.yqlink2 h3{ height:30px; line-height:30px; border-bottom:solid 1px #ccc; font-size:12px; color:#d50000; padding-left:16px; background:url(images/index_01.gif) repeat-x;}
.yqlink2 li{float:left; margin-left:32px; margin-top:4px; display:inline;}

.zbanner{ width:864px; height:120px; margin:0 auto; padding:110px 0 0 140px; color:#fff; font-family:"黑体"; font-size:45px; font-weight:bolder;}

.zrongchengmenu{ height:30px; line-height:30px; padding:8px 0 0 100px; margin:0 auto; background:url(images/index_05.gif) repeat-x; font-family:"宋体"; font-weight:bolder; font-size:14px;}

.zrongchengmenu li{ float:left; width:115px; background:url(images/index_099.gif) no-repeat right;}
.zrongchengmenu a{ width:115px; float:left; text-align:center; color:#fff;}
.zrongchengmenu a:hover{ font-weight:bold; height:30px; background:url(images/index_13.gif) no-repeat center; color:#000; display:block;}

/*2012.05.03后加的*/

.cun_left{ float:left; width:300px; border:1px solid #FEB10B;}
.cun_lnr{ width:278px; padding:8px 10px; height:196px; overflow:hidden;}
.cun_center{ float:left; width:350px; margin:0 20px; border:1px solid #FEB10B; display:inline;}
.cun_cmenu{ height:28px; line-height:28px; background:url(images/index_42.gif) no-repeat 0 5px; border-bottom:solid 1px #E50000;}
.cun_cmenu h3{ color:#E50000; font-size:14px; float:left; width:85px; padding-left:16px}
.cun_cmenu img{ float:right; margin:10px 10px 0 0;}
.cun01_nr{ width:350px; height:212px;}
.cun01_nr li{ width:326px; background:url(images/index_35.gif) no-repeat 6px 18px; border-bottom:dotted 1px #ccc; padding:8px 0 0 16px; height:26px;}
.cun01_nr span{ float:right; padding-right:6px;}
.cun_right{ float:left; width:308px; border:1px solid #FEB10B; display:inline;}
.cun_rmenu{ height:28px; line-height:28px; background:url(images/index_42.gif) no-repeat 0 5px; border-bottom:solid 1px #E50000;}
.cun_rmenu h3{ color:#E50000; font-size:14px; float:left; width:85px; padding-left:16px}
.cun_rnr{ padding:6px 10px; height:200px; line-height:23px;}
.cun_rnr p{ color:#666;}
.cun_rnr span{ color:#bbb;}

.cun02_left{ float:left; width:300px; border:1px solid #FEB10B;}
.cun02_lmenu{ height:28px; line-height:28px; background:url(images/index_42.gif) no-repeat 0 5px; border-bottom:solid 1px #E50000;}
.cun02_lmenu h3{ color:#E50000; font-size:14px; float:left; width:85px; padding-left:16px}
.cun02_lmenu img{ float:right; margin:10px 10px 0 0;}
.cun02_leftnr{ width:300px; height:210px;}
.cun02_leftnr li{ width:280px; background:url(images/index_35.gif) no-repeat 6px 18px; border-bottom:dotted 1px #ccc; padding:8px 0 0 16px; height:26px;}
.cun02_leftnr span{ float:right; padding-right:6px;}

.cun02_right{ float:left; width:350px; margin-left:20px; border:1px solid #FEB10B;}
.cun02_lmenu{ height:28px; line-height:28px; background: url(images/index_42.jpg) no-repeat 0 5px; border-bottom:solid 1px #E50000;}
.cun02_lmenu h3{ color:#E50000; font-size:14px; float:left; width:85px; padding-left:22px}
.cun02_lmenu img{ float:right; margin:10px 10px 0 0;}
.cun02_rightnr{ width:350px; height:210px;}
.cun02_rightnr li{ width:330px; background:url(images/index_35.gif) no-repeat 6px 18px; border-bottom:dotted 1px #ccc; padding:8px 0 0 16px; height:26px;}
.cun02_rightnr span{ float:right; padding-right:6px;}

.cbanner{ width:864px; height:118px; margin:0 auto; background:url(images/cun33.jpg) no-repeat; padding:112px 0 0 140px; color:White; font-family:"黑体"; font-size:50px; font-weight:bolder;}
.crongchengmenu{ height:30px; line-height:30px; padding:8px 0 0 46px; margin:0 auto; background:url(images/index_05.gif) repeat-x; font-family:"宋体"; font-weight:bolder; font-size:14px;}
.crongchengmenu li{ float:left; width:115px; background:url(images/index_09.gif) no-repeat right;}
.crongchengmenu a{ width:115px; float:left; text-align:center; color:#fff;}
.crongchengmenu a:hover{ font-weight:bold; height:30px; background:url(images/index_13.gif) no-repeat center; color:#000; display:block;}
.menuline{ background:none !important;}


.cun03_right{ float:left; width:300px; margin-left:20px; border:1px solid #FEB10B;}
.cun03_lmenu{ height:28px; line-height:28px; background: url(images/index_42.jpg) no-repeat 0 5px; border-bottom:solid 1px #E50000;}
.cun03_lmenu h3{ color:#E50000; font-size:14px; float:left; width:85px; padding-left:22px}
.cun03_lmenu img{ float:right; margin:10px 10px 0 0;}
.cun03_rightnr{  width:300px; height:210px;}
.cun03_rightnr li{ float:left; width:130px; background:url(images/index_35.gif) no-repeat 6px 18px; border-bottom:dotted 1px #ccc; padding:8px 0 0 16px; height:26px;}
.cun03_rightnr span{ float:right; padding-right:6px;}

.rchuandeng{ float:left; border:solid 1px #feb10b; padding:2px;}
.rcmain01{ width:1004px; margin:10px auto; overflow:hidden;}
.rchuandeng{ float:left; border:solid 1px #feb10b; padding:2px;}
.rcmain01_center{ float:left; width:393px; border:solid 1px #feb10b; background:url(images/index_25.gif) repeat-x; margin:0 10px; height:280px;}
.rcmain01_cmenu{ width:129px; height:36px; background:url(images/index_23.gif) no-repeat; padding-top:4px; text-align:center; font-size:14px; color:#af0000;}
.rcmain01_cnr{ padding:4px 16px 11px; color:#e50000;}
.rcmain01_cnr h2{ font-size:12px;}
.rcmain01_cnr p{ color:#666; padding-bottom:10px; border-bottom:dotted 1px #ccc;}
.rcmain01_cnr li{ width:345px; background:url(images/index_35.gif) no-repeat 6px 18px; border-bottom:dotted 1px #ccc; padding:8px 0 0 16px; height:26px;}
.rcmain01_cnr span{ float:right; padding-right:6px;}
.rcmain01_right{ float:left; border:solid 1px #feb10b; width:229px; height:280px;background:url(images/index_25.gif) repeat-x;}
.rcmain01_rnr{ padding:10px;}
.rcmain01_rnr p{ color:#666;}
.rcmain01_rnr span{ color:#bbb;}

.yq li{ float:left; width:50px; background:url(images/zhongjiantiao.jpg) no-repeat right;}
