A.a1
{
    COLOR: #295a96;
    TEXT-DECORATION: none
}
A.a1:hover
{
    COLOR: #000000;
    TEXT-DECORATION: underline
}
A.a2
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
A.a2:hover
{
    COLOR: #cae4ff;
    TEXT-DECORATION: none
}
A.a3
{
    FONT-SIZE: 12px;
    COLOR: #333333;
    FONT-FAMILY: "ו";
    LETTER-SPACING: 2px;
    TEXT-DECORATION: none
}
A.a3:hover
{
    FONT-SIZE: 12px;
    COLOR: #ff9900;
    FONT-FAMILY: "ו"
}
.color1
{
    BACKGROUND-COLOR: #5c7fc6
}
.color2
{
    BACKGROUND-COLOR: #f0f0f0
}
.color3
{
    BACKGROUND-COLOR: #f6f6f6
}
.title_1
{
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #5c7fc6
}
.row1
{
    FONT-SIZE: 12px;
    COLOR: #333333;
    BACKGROUND-COLOR: #eef7ff
}
.row2
{
    FONT-SIZE: 12px;
    COLOR: #333333;
    BACKGROUND-COLOR: #dfeeff
}
.input_list1
{
    BORDER-RIGHT: #aaaaaa 1px solid;
    BORDER-TOP: #aaaaaa 1px solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: #aaaaaa 1px solid;
    COLOR: #666666;
    BORDER-BOTTOM: #aaaaaa 1px solid;
    BACKGROUND-COLOR: transparent
}
.input_button1
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #eeeeee 1px solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: #eeeeee 1px solid;
    BORDER-BOTTOM: #000000 1px solid;
    HEIGHT: 22px;
    BACKGROUND-COLOR: #eeeeee
}
.input_text
{
    BORDER-RIGHT: #ffffff 1px solid;
    BORDER-TOP: #999999 1px solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: #999999 1px solid;
    WIDTH: 150px;
    COLOR: #666666;
    BORDER-BOTTOM: #ffffff 1px solid;
    BACKGROUND-COLOR: transparent
}
.input_text1
{
    BORDER-RIGHT: #aaaaaa 1px solid;
    BORDER-TOP: #aaaaaa 1px solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: #aaaaaa 1px solid;
    COLOR: #666666;
    BORDER-BOTTOM: #aaaaaa 1px solid;
    BACKGROUND-COLOR: transparent
}
.DivStyle
{
    LINE-HEIGHT: 20px;
    BACKGROUND-COLOR: #efefef
}
TD
{
    FONT-SIZE: 12px
}
BODY
{
    SCROLLBAR-FACE-COLOR: #ffffff;
    FONT-SIZE: 12px;
    MARGIN: 0px;
    SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
    SCROLLBAR-SHADOW-COLOR: #999999;
    SCROLLBAR-3DLIGHT-COLOR: #ffffff;
    SCROLLBAR-ARROW-COLOR: #999999;
    SCROLLBAR-TRACK-COLOR: #ffffff;
    SCROLLBAR-DARKSHADOW-COLOR: #ffffff
}
.textarea
{
    FONT-SIZE: 12px
}
