<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<!--GotDotNet.ApplicationBlocks.Data配置节：数据源选择-->
	<configSections>
		<section name="daabProviders" type="CommonUtility.DBUtility.DAABSectionHandler,CommonUtility"/>
	</configSections>
	<daabProviders>
		<daabProvider alias="mainDB" assembly="CommonUtility" type="CommonUtility.DBUtility.Mysql"/>
	</daabProviders>
	<!--end-->
	<appSettings>
		<add key="mysqlcon" value="server=localhost;database=data_anyang;uid=root;pwd=123456;"/>
		<add key="adoConstr" value="server=localhost;database=data_anyang;uid=root;pwd=123456;"/>
		<add key="uploadFilePath" value="~/upload/"/>
		<!--<add key="adoConstr" value="server=192.168.0.240;database=NewDataBase;uid=sa; pwd=;"/>-->
		<add key="originalPicPath" value="~/pic/original/"/>
		<add key="smallPicPath" value="~/pic/small/"/>
		<add key="PersonPicPath" value="~/pic/Members/"/>
		<add key="smallPicSize" value="150,150"/>
		<add key="FCKeditor:UserFilesPath" value="/EnterpriseSite/upload"/>
		<!-- 是否使用用户凭证 -->
		<add key="SMTP:UseCredentials" value="true"/>
		<!-- SMTP服务器地址 -->
		<add key="SMTP:ServerAddress" value="mail.doit.name"/>
		<!-- SMTP服务器帐户 -->
		<add key="SMTP:ServerUser" value="lsk@doit.name"/>
		<!-- SMTP服务器密码 -->
		<add key="SMTP:ServerPassword" value="lsk"/>
		<!-- SMTP服务器是否只允许本地帐户发送 -->
		<add key="SMTP:UseLocalUser" value="true"/>
		<!--站点网址-->
		<add key="SiteUrl" value="/EnterpriseSite/"/>
		<!--编辑器文件夹路径-->
		<add key="EditorPath" value="/EnterpriseSite/webeditor/"/>
		<!--图片上传文件夹虚拟路径，相对于（WebEditor）中的（editor.ascx）控件-->
		<add key="UpFolder" value="../WebEditor/uppic"/>
		<!--图片上传文件夹绝对路径-->
		<add key="UpFolderPath" value="/EnterpriseSite/WebEditor/uppic/"/>
		<!--网上测评-->
		<add key="wscp" value="http://192.168.1.15:8037/ceping.aspx"/>
		<!--三资监管-->
		<add key="szjg" value="http://192.168.1.19:7001"/>
		<!--清产核资-->
		<add key="qchz" value="http://123.232.0.243"/>
		<!--三资查询-->
		<add key="szcx" value="http://192.168.1.19:7001/queryframe2.aspx"/>
		<!--民主决策-->
		<add key="mzjc" value="http://60.217.72.17:7111/WebDefault.aspx"/>
		<!--监委会-->
		<add key="jwh" value="http://60.217.72.17:7111/default4.aspx"/>
		<!--示范村-->
		<add key="sfc" value="http://192.168.1.15:8037/cmap.aspx"/>
		<!--农廉统计-->
		<add key="nltj" value="http://192.168.1.15:8036/hnzc.aspx"/>
		<!--村干勤廉-->
		<add key="cgql" value="http://192.168.1.15:8036/ckqdefault.aspx"/>
		<!--便民服务-->
		<add key="bmfw" value="http://192.168.1.15:8053/webbmfw.aspx"/>
		<add key="dwurl" value="http://dwgk.shouguang.gov.cn"/>
		<add key="zwgk" value="http://shouguang.gov.cn/zwgk"/>
		<add key="cwgk" value="http://192.168.1.15:8036/webcwgkzhen.aspx"/>
		<add key="cunxx" value="http://192.168.1.15:8036/ckq/xiangxi.aspx?id="/>
		<add key="cjpt" value="http://192.168.1.15:8036"/>
		<add key="cunhn" value="http://192.168.1.15:8036/ckq/hnxiangxi.aspx?id="/>
		<add key="deptid" value="55"/>
		<add key="rushan" value=""/>
		<add key="wendeng" value=""/>
		<add key="rongcheng" value=""/>
		<add key="gaoqu" value=""/>
		<add key="hcqu" value=""/>
		<add key="jingqu" value=""/>
		<add key="gyxq" value=""/>
		<add key="tudi" value="http://192.168.1.19:7002"/>
		<add key="hezuoshi" value="http://192.168.1.19:7003"/>
		<add key="xnh" value="http://192.168.1.19:7002/Loginxnh.aspx"/>
		<add key="nongminfudan" value="http://192.168.1.19:7002/Loginfd.aspx"/>
		<add key="ysyy" value="http://192.168.1.19:7002/loginysyy.aspx"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
		<authentication mode="Forms">
			<forms loginUrl="~/SysAdmin/loginuser.aspx" path="/" protection="All" timeout="30" name="_AUTHASPX"/>
		</authentication>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。
 -->
		<customErrors mode="RemoteOnly" defaultRedirect="ErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="FileNotFound.htm"/>
		</customErrors>
		<httpHandlers>
			<add path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" validate="true"/>
			<add path="ValidateNumber.ashx" verb="*" type="Mic.ValidateNumber, ValidateCode"/>
		</httpHandlers>
		<pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<remove value="Default.htm"/>
				<remove value="Default.asp"/>
				<remove value="index.htm"/>
				<remove value="index.html"/>
				<remove value="iisstart.htm"/>
				<remove value="default.aspx"/>
				<add value="default.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
