@charset "utf-8";
/* CSS Document */

a:link{
	text-decoration: none; color:#333; 
    }
a:visited {
	text-decoration: none;
    }
a:hover {
	text-decoration: none;
    }
a:active {
	text-decoration: none;
	}
*{ border:0px;margin:0px;padding:0px;}
a img { border:none; }
ul,li{ list-style:none;}
.top{ background:url(images/index_01.gif) repeat-x; height:31px; border-bottom:solid 1px #ccc; margin:0 auto; font-size:12px;}
.topnav{ width:1004px; margin:0 auto; line-height:31px;}
.topnavleft{ float:left; padding-left:26px;}
.topnavright{ float:right; width:120px; padding-right:26px;}
.topnavright a,.topnavright span{ float:left; padding-left:6px;}
#container{ width:1004px; margin:0 auto; line-height:24px; font-size:12px;}
.menu{ height:30px; padding:8px 0 0 30px; margin:0 auto; background:url(images/index_05.gif) repeat-x; font-family:"宋体"; font-size:14px;}
.menu li{ float:left; width:106px;}
.menu a{ width:104px; float:left; text-align:center; color:#fff;}
.menu a:hover{ font-weight:bold; height:30px; background:url(images/index_12.gif) no-repeat center; color:#000; display:block;}
.menu p{ float:left;}

.main01{ width:1004px; margin:10px auto; overflow:hidden;}
.huandeng{ float:left; border:solid 1px #feb10b; padding:2px;}
.main01_center{ float:left; width:393px; border:solid 1px #feb10b; background:url(images/index_25.gif) repeat-x; margin:0 10px;}
.main01_cmenu{ width:129px; height:36px; background:url(images/index_23.gif) no-repeat; padding-top:4px; text-align:center; font-size:14px; color:#af0000;}
.main01_cnr{ padding:4px 16px 11px; color:#e50000;}
.main01_cnr h2{ font-size:12px;}
.main01_cnr p{ color:#666; padding-bottom:10px; border-bottom:dotted 1px #ccc;}
.main01_cnr li{ width:345px; background:url(images/index_35.gif) no-repeat 6px 18px; border-bottom:dotted 1px #ccc; padding:8px 0 0 16px; height:26px;}
.main01_cnr span{ float:right; padding-right:6px;}
.main01_right{ float:left; border:solid 1px #feb10b; width:229px;}
.main01_rnr{ padding:10px;}
.main01_rnr p{ color:#666;}
.main01_rnr span{ color:#bbb;}
.main02{ margin:10px auto; overflow:hidden;}
.main02_left{ float:left; width:372px;}
.main02_lmenu{ height:28px; line-height:28px; background:url(images/index_42.gif) no-repeat 0 5px; border-bottom:solid 1px #E50000;}
.main02_lmenu h3{ color:#E50000; font-size:14px; float:left; width:85px; padding-left:16px}
.main02_lmenu img{ float:right; margin:10px 10px 0 0;}
.main02_leftnr{ width:372px;}
.main02_leftnr li{ width:356px; background:url(images/index_35.gif) no-repeat 6px 18px; border-bottom:dotted 1px #ccc; padding:8px 0 0 16px; height:26px;}
.main02_leftnr span{ float:right; padding-right:6px;}
.main02_center{ float:left; margin:0 12px 0 17px; width:372px; display:inline;}
.main02_right{ float:left; width:231px;}
.main02_rtop{ border:solid 1px #feb10b; overflow:hidden;}
.kejiyujing{ border:solid 1px #feb10b; margin-top:10px;}

.main03{ margin-top:6px; overflow:hidden;}
.main03 img{ padding-left:25px;}

.foot{ width:1004px; margin-top:6px; font-size:12px;}
.footline{ height:30px; line-height:30px; background:#e50000; text-align:center;}
.footline a,.footline span{ color:#fff;}
.footline span{ padding:0 3px;}
.copyright{ text-align:center; padding:5px 0;}
.beian{ padding:10px 0; text-align:center;}











