BODY {
	FONT-SIZE: 12px;
	MARGIN: 0px;
	COLOR: #000000;
	FONT-FAMILY: "宋体";
	BACKGROUND-COLOR: #ADE5FE;
	TEXT-ALIGN: center;
}
.content {
	FONT: 9pt/14pt "宋体"
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:active {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体"
}
.style_1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; COLOR: #000000
}
.style_22 {
	COLOR: #000000; LINE-HEIGHT: 22px
}
.style_bottom {
	COLOR: #FFFFFF;
	LINE-HEIGHT: 18px
}
.style_data {
	COLOR: #656565
}
.style_20 {
	COLOR: #000000; LINE-HEIGHT: 20px
}
.style_white_cu_12 {
	FONT-WEIGHT: bold;
	COLOR: #ffffff;
	font-size: 14px;
}
.style_white_cu_12 A:link {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.style_white_cu_12 A:visited {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.style_white_cu_12 A:active {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.style_white_cu_12 A:hover {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.style_black_cu_12 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; WORD-SPACING: -1px; COLOR: #000000
}
.center_bg {
	BACKGROUND-POSITION: center top; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-IMAGE: url(center_bg_1.gif); BACKGROUND-REPEAT: repeat-x
}
.tzgg_bg {
	BACKGROUND-POSITION: center top; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-IMAGE: url(sy_tzgg_bg.gif); BACKGROUND-REPEAT: no-repeat
}
.style_oranger_cu {
	FONT-WEIGHT: bold; COLOR: #fe9b00
}
.style_oranger_cu A:link {
	FONT-WEIGHT: bold; COLOR: #fe9b00
}
.style_oranger_cu A:visited {
	FONT-WEIGHT: bold; COLOR: #fe9b00
}
.style_oranger_cu A:active {
	FONT-WEIGHT: bold; COLOR: #fe9b00
}
.style_oranger_cu A:hover {
	FONT-WEIGHT: bold; COLOR: #fe9b00
}
.style_yellow_cu {
	FONT-WEIGHT: bold; COLOR: #94641a
}
.style_yellow_cu A:link {
	FONT-WEIGHT: bold; COLOR: #94641a
}
.style_yellow_cu A:visited {
	FONT-WEIGHT: bold; COLOR: #94641a
}
.style_yellow_cu A:active {
	FONT-WEIGHT: bold; COLOR: #94641a
}
.style_yellow_cu A:hover {
	FONT-WEIGHT: bold; COLOR: #94641a
}
.picture_flowr_1 {
	BACKGROUND-POSITION: right bottom; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-IMAGE: url(pic_flowr_1.gif); BACKGROUND-REPEAT: no-repeat
}
.picture_flowr_2 {
	BACKGROUND-POSITION: left bottom; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-IMAGE: url(pic_flowr_2.gif); BACKGROUND-REPEAT: no-repeat
}
.style_2 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"
}
.style_3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"
}
.style_4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #fd9639; FONT-FAMILY: "宋体"
}
.style_5 {
	FONT-SIZE: 12px; COLOR: #656565; FONT-FAMILY: "宋体"
}
.style_6 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: "宋体"
}
.style_10 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: "宋体"
}
A.a01:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.a01:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.a01:active {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.a01:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.a03:link {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A.a03:visited {
	COLOR: #990099; TEXT-DECORATION: underline
}
A.a03:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A.a03:active {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A.a02:link {
	COLOR: #004e82; TEXT-DECORATION: none
}
A.a02:visited {
	COLOR: #004e82; TEXT-DECORATION: none
}
A.a02:hover {
	COLOR: #004e82; TEXT-DECORATION: none
}
A.a02:active {
	COLOR: #004e82; TEXT-DECORATION: none
}
A.a04:link {
	COLOR: #b41c0d; TEXT-DECORATION: none
}
A.a04:visited {
	COLOR: #b41c0d; TEXT-DECORATION: none
}
A.a04:hover {
	COLOR: #b41c0d; TEXT-DECORATION: none
}
A.a04:active {
	COLOR: #b41c0d; TEXT-DECORATION: none
}
A.a05:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.a05:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.a05:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
A.a05:active {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.a06:link {
	COLOR: #663399; TEXT-DECORATION: none
}
A.a06:visited {
	COLOR: #663399; TEXT-DECORATION: none
}
A.a06:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.a06:active {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.a07:link {
	TEXT-DECORATION: none
}
A.a07:visited {
	TEXT-DECORATION: none
}
A.a07:hover {
	TEXT-DECORATION: underline
}
A.a07:active {
	TEXT-DECORATION: underline
}
.l15 {
	LINE-HEIGHT: 130%
}
.l16 {
	LINE-HEIGHT: 250%
}
.l17 {
	LINE-HEIGHT: 180%
}
.style8 {
	COLOR: #696969
}
.style9 {
	COLOR: #858585
}
.style10 {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
.STYLE16 {
	COLOR: #FFFFFF;
	padding-top: 5px;
}
.STYLE18 {
	COLOR: #004e82;
	padding-top: 5px;
}
.STYLE23 {
	FONT-SIZE: 11px; COLOR: #004e82
}
.STYLE24 {
	COLOR: #ffffff
}
.STYLE26 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff
}
.STYLE29 {
	COLOR: #333333;
	font-size: 14px;
	line-height: 180%;
}
.STYLE31 {
	COLOR: #ff6600
}
.STYLE33 {
	FONT-WEIGHT: bold; COLOR: #1172c3
}
.STYLE34 {
	FONT-WEIGHT: bold; COLOR: #ff9900
}
.foot {
	COLOR: #ffffff; TEXT-ALIGN: center
}
.foot A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.foot A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.STYLE18 A {
	COLOR: #004e82; TEXT-DECORATION: none
}
.STYLE18 A:hover {
	COLOR: #004e82; TEXT-DECORATION: underline
}
.ad {
	font-size: 14px;
	line-height: 180%;
	padding: 10px;
}.title_c {
	font-size: 16px;
	line-height: 180%;
	font-weight: bold;
	color: #000000;
}
.left_line {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #C6C6C6;
}
.border_zsx {
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #1898CF;
	border-right-color: #1898CF;
	border-left-color: #1898CF;
}
.border_quan {
	border: 1px solid #C6C3C6;
}
#bg {
	background-color: #FFFFFF;
	width: 990px;
	margin:0px auto;
}
.left_background {
	background-image: url(sub_b1.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
}
.line_xu {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
}
.input_readonly {
	background-color: #FFFF99;
	border: 1px solid #666666;
}
.input_qt {
	border: 1px solid #666666;
}
.table1 TABLE {
	BORDER-COLLAPSE: collapse
}
.table1 TD {
	BORDER-RIGHT: #cee6f1 1px solid; BORDER-TOP: #cee6f1 1px solid; BORDER-LEFT: #cee6f1 1px solid; BORDER-BOTTOM: #cee6f1 1px solid
}
.table2 TABLE {
	BORDER-COLLAPSE: collapse
}
.table2 TD {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid
}
.table3 TD {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
