.Gen
{
    POSITION: relative
}
.heading
{
    BACKGROUND: #eeeeee;
    COLOR: #000000
}
.HtmlEdit
{
    POSITION: relative;
    BACKGROUND-COLOR: #E3EFFA
}
.yToolbar
{
    BORDER-RIGHT: buttonshadow 1px solid;
    BORDER-TOP: buttonhighlight 1px solid;
    LEFT: 0px;
    BORDER-LEFT: buttonhighlight 1px solid;
    WIDTH: 760px;
    BORDER-BOTTOM: buttonshadow 1px solid;
    POSITION: relative;
    TOP: 0px;
    HEIGHT: 28px;
    BACKGROUND-COLOR: #E3EFFA
}
.Btn
{
    BORDER-RIGHT: buttonface 1px solid;
    BORDER-TOP: buttonface 1px solid;
    BORDER-LEFT: buttonface 1px solid;
    WIDTH: 24px;
    BORDER-BOTTOM: buttonface 1px solid;
    POSITION: absolute;
    TOP: 1px;
    HEIGHT: 24px;
    BACKGROUND-COLOR: #E3EFFA
}
.Ico
{
    LEFT: 3px;
    POSITION: absolute;
    TOP: 3px
}
.TBSep
{
    BORDER-RIGHT: buttonhighlight 1px solid;
    FONT-SIZE: 0px;
    BORDER-LEFT: buttonshadow 1px solid;
    WIDTH: 1px;
    POSITION: absolute;
    TOP: 1px;
    HEIGHT: 22px
}
.TBGen
{
    FONT: 9pt ו,verdana,arial,sans-serif;
    POSITION: absolute;
    TOP: 3px;
    HEIGHT: 22px
}
.TBHandle
{
    BORDER-RIGHT: buttonshadow 1px solid;
    BORDER-TOP: buttonhighlight 1px solid;
    FONT-SIZE: 1px;
    BORDER-LEFT: buttonhighlight 1px solid;
    WIDTH: 3px;
    POSITION: absolute;
    TOP: 1px;
    HEIGHT: 22px;
    BACKGROUND-COLOR: #E3EFFA
}
.BtnMouseOverUp
{
    BORDER-RIGHT: buttonshadow 1px solid;
    BORDER-TOP: buttonhighlight 1px solid;
    BORDER-LEFT: buttonhighlight 1px solid;
    WIDTH: 24px;
    BORDER-BOTTOM: buttonshadow 1px solid;
    POSITION: absolute;
    TOP: 1px;
    HEIGHT: 24px;
    BACKGROUND-COLOR: #E3EFFA
}
.BtnMouseOverDown
{
    BORDER-RIGHT: buttonhighlight 1px solid;
    BORDER-TOP: buttonshadow 1px solid;
    BORDER-LEFT: buttonshadow 1px solid;
    WIDTH: 24px;
    BORDER-BOTTOM: buttonhighlight 1px solid;
    POSITION: absolute;
    TOP: 1px;
    HEIGHT: 24px;
    BACKGROUND-COLOR: #E3EFFA
}
.BtnDown
{
    BORDER-RIGHT: buttonhighlight 1px solid;
    BORDER-TOP: buttonshadow 1px solid;
    BORDER-LEFT: buttonshadow 1px solid;
    WIDTH: 24px;
    BORDER-BOTTOM: buttonhighlight 1px solid;
    POSITION: absolute;
    TOP: 1px;
    HEIGHT: 24px;
    BACKGROUND-COLOR: #E3EFFA
}
.IcoDown
{
    LEFT: 4px;
    WIDTH: 16px;
    POSITION: absolute;
    TOP: 4px;
    HEIGHT: 16px
}
.IcoDownPressed
{
    LEFT: 3px;
    POSITION: absolute;
    TOP: 3px
}
